@import url('https://fonts.googleapis.com/css?family=Caveat|Gloria+Hallelujah|Indie+Flower|Mansalva|Nunito:400,600,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.startScreen {
    height: 100vh;
    width: 100%;
    background: url("img/todobg.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
}

.startScreen > h1 {
    /* font-family: "Caveat", sans-serif; */
    /* font-family: "Gloria Hallelujah", sans-serif; */
    /* font-family: "Indie Flower", sans-serif; */
    font-family: "Mansalva", sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
    position: absolute;
    top: 5%;
}

.startScreen > p {
    color: white;
    font-family: "Mansalva", sans-serif;
    font-size: 2em;
    position: absolute;
    top: 15%;
}

.startBtn {
    position: absolute;
    bottom: 5vh;
    -webkit-appearance: none;
    border: none;
    color: white;
    background: none;
    font-size: 2em;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shrinkStartScreen {
    animation: shrinkStartScreen 3s forwards;
}

@keyframes shrinkStartScreen {
    0% {
        height: 100vh;
    }

    30% {
        height: 120vh;
    }

    100% {
        height: 0vh;
    }
}

 .startBtn::after {
    content: url(img/down-arrow.png);
    display: block;
    margin: auto;
} 

.gradientBottom {
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, #fff, #ffffff00);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header {
    background: linear-gradient(#079992, #82CCDD);
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header > h1 {
    font-size: 3em;
    text-align: center;
    font-family: "Mansalva", sans-serif;
}

form {
    background-color: #F3F3F3;
    padding: 5% 15%;
    text-align: center;
}

input {
    margin: 20px auto;
    border: 2px solid #CECECE;
    height: 45px;
    width: 100%;
    padding: 5px;
}

input::placeholder {
    font-size: 1em;
    color: #afafaf;
    font-family: "Mansalva", sans-serif;
}

button[type="submit"] {
    background-color: #FA983A;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    margin: 20px auto;
    cursor: pointer;
}

body > h1 {
    font-family: "Mansalva", sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 50px auto;
    color: #1d1d1d;
}
.hide {
    display: none;
}